<%= form_with model:user do |form|%>

<div>
<%=form.label :name%>
<%=form.text_field :name %>
<% user.errors.full_messages_for(:name).each do |message|%>
<div> <%=message%> </div>
<%end%>
</div>
<div>
<%=form.label :email%>
<%=form.text_field :email %>
<% user.errors.full_messages_for(:email).each do |message|%>
<div> <%=message%> </div>
<%end%>
</div>
<div>
<%=form.label :city%>
<%=form.select :city ,[{name:"sujanpur",id:1},{name:"hoshiarpur",id:2},{name:"palampur",id:3}].map {|city| [city[:name],city[:id]]},:prompt=>"Choose city" %>
<% user.errors.full_messages_for(:city).each do |message|%>
<div> <%=message%> </div>
<%end%>
</div>
<div>
<%=form.label :hobbies%>
<%["cricket","hockey"].each do |hobby|%>
<span><%=hobby%>
<%=form.check_box :hobbies,{multiple:true},hobby,false %>
<%end%>
<% user.errors.full_messages_for(:hobbies).each do |message|%>
<div> <%=message%> </div>
<%end%>
</div>
<%=form.submit%>
<%end%>